<div class="container">
  <%= simple_form_for pet do |p| %>
    <%= p.input :name %>
    <%= p.input :address %>
    <%= p.input :species, collection: Pet::SPECIES %>
    <%= p.input :found_on %>
    <%= p.submit "submit", class: "btn btn-primary w-100" %>
  <% end %>
</div>

